<div id="success-message" title="БРАВО!" style="display: none;" class="result-popup">
    <div class="modal-text cell">
        <p class="message">Това е правилен отговор.</p>
        <p class="message">Справяш се страхотно!</p>
    </div>
    <img src="~/images/character_green.png" class="charachter-image cell" />
</div>