<div id="error-message" title="Опитай пак :)" style="display: none;" class="result-popup">
    <div class="modal-text cell">
        <p class="message">Справяш се страхотно,</p>
        <p class="message">но опитай пак!</p>
    </div>
    <img src="~/images/character_pink.png" class="charachter-image cell" />
</div>