.color-answer {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: inline-block;
}

.questions-page-heading {
    padding: 20px;
}

.color-asnwers-wrapper {
    margin: 100px 0 0 0;
}

.alphabet-answers-images {
    margin: 10px;
}

.image-asnwers-wrapper {
    margin: 20px;
}

.very-large-heading {
    font-size: 60px;
}

.image-question-label {
    color: #565656;
    font-weight: 100;
    font: 0.7em Lato;
}

.question-title {
    font: 1.25em Lato Black;
    color: #ff8a5b;
    position: relative;
    display: inline-block;
    line-height: 2;
    font-size: 60px;
}

.question-box {
    padding: 20px;
}

    .question-box .module-img {
        margin: 0 auto;
    }

        .question-box .module-img:hover {
            cursor: pointer;
        }

.questions-container {
    margin: 30px 20px;
}

.image-answer-img {
    border: 15px solid #FF8A5C;
    border-radius: 50%;
}

    .image-answer-img:hover {
        cursor: pointer;
    }

/*Result Popup*/
.ui-dialog.result-popup {
    border: 10px solid;
    border-radius: 30px;
}

.result-popup.success-message {
    border-color: #b0bb03;
}

.result-popup.error-message {
    border-color: #f04f53;
}

.result-popup .ui-dialog-titlebar {
    border: none;
    background: none;
    text-align: center;
    color: #f04f53;
    font-size: 60px;
}

.result-popup .ui-dialog-titlebar {
    border: none;
    background: none;
    text-align: center;
    color: #f04f53;
    font-size: 60px;
    width: 85%;
    float: left;
}

.result-popup .ui-dialog-content {
    float: left;
    overflow: visible
}

.result-popup .ui-widget-content {
    border: none;
}

.result-popup .message {
    text-align: center;
    color: #565656;
    font-size: 40px;
    width: 85%;
    float: left;
}

.result-popup.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: none;
    text-align: center;
    width: 85%;
    float: left;
}

.result-popup.ui-dialog .ui-dialog-buttonset .ui-button {
    background: none;
    background-color: #f04f53;
    color: #FFFFFF;
    font-size: 40px;
}

.charachter-image {
    position: absolute;
    right: -6%;
    top: -124%;
    width: 225px;
}
