.color-answer {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: inline;
    padding: 30px 40px;
    transition: all 0.3s ease-out;
}

    .color-answer:hover,
    .color-answer:focus {
        border: 15px solid rgba(255, 255, 255, 0.5);
        cursor: pointer;
    }

@media only screen and (max-width: 885px) {
    .color-answer {
        padding: 20px 30px;
    }
}

@media only screen and (max-width: 767px) {
    .color-answer {
        display: block;
        margin: 15px auto;
        padding: 0;
    }
}

.questions-page-heading {
    padding: 20px;
}

.color-answers-wrapper {
    margin: 100px 0 0 0;
}

@media only screen and (max-width: 767px) {
    .color-answers-wrapper {
        margin: 0;
    }
}

.alphabet-answers-images {
    margin: 10px;
}

.image-answers-wrapper {
    margin: 20px;
}

.very-large-heading {
    font-size: 60px;
}

.image-question-label {
    color: #565656;
    font-weight: 100;
    font: 0.7em Lato;
}

.question-title {
    font: 1.25em Lato Black;
    color: #ff8a5b;
    position: relative;
    display: inline-block;
    line-height: 2;
    font-size: 60px;
}

.question-box {
    padding: 20px;
}

    .question-box .module-img {
        margin: 0 auto;
    }

        .question-box .module-img:hover {
            cursor: pointer;
        }

.questions-container {
    margin: 30px 20px;
}

.image-answer-img {
    border: 15px solid #FF8A5C;
    border-radius: 50%;
}

    .image-answer-img:hover {
        cursor: pointer;
    }

.color-question-image {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%);
}
