body {
    background-image: url("../../Content/images/background.png");
}

.main-header {
    padding: 30px 30px 0 30px;
}

.page-heading {
    padding: 30px;
}

.btn-blue {
    color: #FFFFFF;
    background-color: #25CED1;
}

    .btn.btn-blue:hover,
    .btn.btn-blue:focus {
        background-color: #68dff0;
        color: #FFFFFF;
    }

.btn-exit-main-layout {
    margin-top: 12px;
}