@model IEnumerable<HappyMe.Web.ViewModels.Modules.ModuleViewModel>

@{
    ViewBag.Title = "Избери модул";
}

@Styles.Render("~/Content/custom/modules.css")

<div class="section-title-container">
    <h1 class="section-title large-heading page-heading">@(ViewBag.Title):</h1>
</div>

<div class="row modules-container text-center">
    @Html.DisplayFor(m => m)
</div>

