@using HappyMe.Web.Areas.Administration.Controllers
@using HappyMe.Web.Common.Helpers
@model IEnumerable<HappyMe.Web.Areas.Administration.ViewModels.UsersAnswers.UserAnswerGridViewModel>

@{
    ViewBag.Title = "Потребителски отговори";
    const string ControllerName = "UsersAnswersController";
}

<h2>@ViewBag.Title</h2>

@(Html.MvcGrid(
    Model,
    columns =>
    {
        columns.Add(model => model.Id).Titled("№");
        columns.Add(model => model.UserName).Titled("Потребител");
        columns.Add(model => model.AnswerText).Titled("Отговор");
        columns.Add(model => model.CreatedOn).Titled("Дата на създаване");
        columns.Add(model => model.AnswerId)
            .Titled("Изтриване")
            .Encoded(false)
            .Filterable(false)
            .RenderedAs(model => Html.DeleteForm(nameof(UsersAnswersController.Delete), ControllerName, model.Id.ToString()));
    }))

@section scripts {
    <script>
        HappyMe.FormHelper.confirmSubmit('.delete-form', 'Сигурни ли сте, че искате да изтриете елемента?');
    </script>
}