@using Resource = Resources.Account.Views.ExternalLoginFailure;
@{
    ViewBag.Title = Resource.Title;
}

<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3 class="text-danger">@Resource.Fail_message</h3>
</hgroup>
