@using Resources = Resources.Account.Views.ForgotPasswordConfirmation

@{
    ViewBag.Title = Resources.Title;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @Resources.Check_email_message
    </p>
</div>
	
