@using Resource = Resources.Account.Views.ResetPasswordConfirmation;
@{
    ViewBag.Title = Resource.Title;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @Resource.Reset_password_success_message @Html.ActionLink(Resource.Click_here_to_log_in, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
