@using HappyMe.Web.Areas.Administration.Controllers
@model HappyMe.Web.Models.Areas.Administration.InputModels.Modules.ModuleCreateInputModel

@{
    ViewBag.Title = "Добавяне на нов модул";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(
    nameof(ModulesController.Create),
    "Modules",
    FormMethod.Post,
    new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    @Html.EditorForModel()

    @Html.EditorFor(m => m.ImageFile)

    <input type="button" value="Назад" onClick="history.go(-1);return true;" class="btn btn-blue" />
    <input type="submit" value="Създай" class="btn btn-primary pull-right" />
}
