@using HappyMe.Web.Areas.Administration.Controllers
@model HappyMe.Web.Areas.Administration.InputModels.Modules.ModuleCreateInputModel

@{
    ViewBag.Title = "Добавяне на нов модул";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(
    nameof(ModulesController.Create),
    "Modules",
    FormMethod.Post,
    new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    @Html.EditorForModel()

    @Html.EditorFor(m => m.ImageFile)

    <input type="submit" value="Създай" class="btn btn-primary bottom-buffer" />
}
