@using HappyMe.Web.Areas.Administration.Controllers
@using HappyMe.Web.Areas.Administration.ViewModels.Modules
@using HappyMe.Web.Common.Helpers

@model IEnumerable<ModuleGridViewModel>

@{
    const string ControllerName = "Modules";
}

<h2>Модули</h2>

@(Html.ActionLink("Създай нов", nameof(ModulesController.Create), null, new { @class = "btn btn-primary bottom-buffer" }))

@(Html.MvcGrid(
    Model,
    columns =>
    {
        columns.Add(model => model.Id).Titled("№");
        columns.Add(model => model.Name).Titled("Име");
        columns.Add(model => model.Description).Titled("Описание");
        columns.Add(model => model.IsActive).Titled("Активност");
        columns.Add(model => model.UserName).Titled("Автор");
        columns.Add(model => model.Id)
            .Titled("Промяна")
            .Encoded(false)
            .Filterable(false)
            .RenderedAs(model => Html.ActionLink("Промяна", nameof(ModulesController.Update), new { id = model.Id }, new { @class = "btn btn-primary" }));
        columns.Add(model => model.Id)
            .Titled("Изтриване")
            .Encoded(false)
            .Filterable(false)
            .RenderedAs(model => Html.DeleteForm(nameof(ModulesController.Delete), ControllerName, model.Id.ToString()));
    }))

@section scripts {
    <script>
        // TODO: Move to _AdministrationLayout, if has .mvc-grid
        $('.mvc-grid').mvcgrid();
    </script>
}
