@using HappyMe.Web.Areas.Administration.Controllers
@model HappyMe.Web.Areas.Administration.InputModels.Modules.ModuleUpdateInputModel

@{
    ViewBag.Title = "Редактиране на модул";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(
    nameof(ModulesController.Update),
    "Modules",
    FormMethod.Post,
    new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.EditorForModel()

    @Html.EditorFor(m => m.ImageFile)

    <input type="button" value="Назад" onClick="history.go(-1);return true;" class="btn btn-blue" />
    <input type="submit" value="Редактирай" class="btn btn-primary pull-right"/>
}