@using Te4Fest.Web.Areas.Administration.Controllers
@using Te4Fest.Web.Areas.Administration.ViewModels.Questions
@using Te4Fest.Web.Common.Helpers

@model IEnumerable<QuestionGridViewModel>

@{
    const string ControllerName = "Questions";
}

<h2>Въпроси</h2>

@(Html.ActionLink("Create new", nameof(QuestionsController.Create)))

@(Html.MvcGrid(
    Model,
    columns =>
    {
        columns.Add(model => model.Id).Titled("№");
        columns.Add(model => model.Text).Titled("Текст на въпроса");
        columns.Add(model => model.Type).Titled("Тип");
        columns.Add(model => model.ModuleId).Titled("Присъства в модул");
        columns.Add(model => model.ImageId).Titled("Изображение");
        columns.Add(model => model.AuthorId).Titled("Автор");
        columns.Add(model => model.Id)
            .Titled("Промяна")
            .Encoded(false)
            .Filterable(false)
            .RenderedAs(model => Html.ActionLink("Промяна", nameof(QuestionsController.Update), new { id = model.Id }));
        columns.Add(model => model.Id)
            .Titled("Изтриване")
            .Encoded(false)
            .Filterable(false)
            .RenderedAs(model => Html.DeleteForm(nameof(QuestionsController.Delete), ControllerName, model.Id.ToString()));
    }))

@*TODO: Move to _AdministrationLayout, if has .mvc-grid*@
@section scripts {
    <script>
        $('.mvc-grid').mvcgrid()
    </script>
}
