@using Resource = Resources.Feedback.Views.Success;

@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = Resource.Title;
}

@section styles{
    @Styles.Render("~/Content/result-screens")
}

<div class="screen-container">
    <div class="screen success-screen">
        <div class="screen-text text-center cell">
            @Html.Raw(Resource.Success_message)
        </div>
        <div>
            <img src="~/Content/images/character_green.png" alt="Green character" />
        </div>
    </div>
</div>