@using HappyMe.Web.Areas.Administration.ViewModels.Questions

@model IEnumerable<QuestionGridViewModel>

<h2>Въпроси и отговори</h2>

<input type="button" value="Назад" onClick="history.go(-1);return true;" class="btn btn-blue bottom-buffer" />
@Html.DashboardLink()
<a asp-action="Create" asp-controller="Questions" asp-area="Administration" class="btn btn-primary bottom-buffer"></a>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    @Html.DisplayForModel()
</div>

@section scripts {
}
