@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    @Styles.Render("~/Content/administration-css")
}
    
@section scripts{
    @Scripts.Render("~/bundles/administration-scripts")
}


<div class="container administration-container">
    @RenderBody()
</div>