@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/administration-scripts")

@section styles{
    @Styles.Render("~/Content/administration-css")
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.0/css/jquery.dataTables.css" />
}

@section scripts{
    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>
}


<div class="container administration-container">
    @RenderBody()
</div>