@model HappyMe.Web.Areas.Administration.InputModels.Users.UserUpdateInputModel

@{
    ViewBag.Title = "Редактиране на потребител";
}

<h2>@ViewBag.Title</h2>

<form asp-action="Update"
      asp-controller="Users"
      asp-area="Administration"
      asp-antiforgery="true"
      method="post">

    @Html.EditorForModel()

    <input type="submit" value="Редактирай" />
</form>