@model IEnumerable<HappyMe.Web.ViewModels.Questions.AnswerViewModel>

<div class="row questions-container answers-wrapper">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-3 col-xs-12 question-box answer">
            <img class="img-responsive module-img" src="@item.ImageUrl" alt="@($"{item.Text} - изображение")" data-answer-id="@item.Id"/>
        </div>
    }
</div>