@using HappyMe.Web.Areas.Administration.Controllers
@using HappyMe.Web.Areas.Administration.ViewModels.Questions
@using HappyMe.Web.Common.Helpers

@model IEnumerable<QuestionGridViewModel>

@{
    const string ControllerName = "Questions";
}

<h2>Въпроси и отговори</h2>

<input type="button" value="Назад" onClick="history.go(-1);return true;" class="btn btn-blue bottom-buffer" />
@Html.DashboardLink()
@(Html.ActionLink("Добави въпрос", nameof(QuestionsController.Create), null, new { @class = "btn btn-primary bottom-buffer" }))

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    @Html.DisplayForModel()
</div>

@section scripts {
}
