@model HappyMe.Web.Areas.Administration.ViewModels.Dashboard.ChildViewModel

<div class="col-md-3">
    <img src="@Model.ImageUrl" alt="Picture of @Model.ImageUrl" class="img-responsive img-circle"/>
    <p>@Html.DisplayFor(x => x.UserName)</p>
</div>

