@model HappyMe.Web.Models.Areas.Administration.InputModels.UsersInModules.UserInModuleCreateInputModel

@{
    ViewBag.Title = "Добавяне на потребител в модул";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.EditorForModel()

    <input type="submit" value="Създай" class="btn btn-primary" />
}