@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <environment names="Development">
        <link rel="stylesheet" href="~/css/result-screens.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/result-screens.min.css" />
    </environment>
    <style>
        .btn-exit-main-layout {
            display: none;
        }
    </style>
}

<div class="screen-container">
    <div class="screen success-screen">
        <div class="screen-text text-center cell">
            Благодарим Ви, за обратната връзка!
        </div>
        <div>
            <img src="~/images/character_green.png" alt="Green character" />
        </div>
    </div>
    <div class="text-center">
        <a asp-action="Index" asp-controller="Home" asp-area="" class="btn btn-success top-buffer">Към началото</a>
    </div>
</div>