@using HappyMe.Web.Areas.Administration.Controllers
@using HappyMe.Web.Common.Helpers

@model IEnumerable<HappyMe.Web.Areas.Administration.ViewModels.Images.ImageGridViewModel>

<h2>Изображения</h2>


<input type="button" value="Назад" onClick="history.go(-1);return true;" class="btn btn-blue bottom-buffer"/>
@Html.DashboardLink()
@Html.ActionLink("Създай ново", "Create", "Images", new { @class = "btn btn-primary bottom-buffer" })


@(Html.MvcGrid(
    Model,
    columns =>
    {
        columns.Add(model => model.Id).Titled("№");
        columns.Add(model => model.Path).Titled("Път");
        columns.Add(model => model.Id)
            .Titled("Изображение")
            .Encoded(false)
            .Filterable(false)
            .RenderedAs(model => MvcHtmlString.Create($@"<img class=""img-responsive"" width=""150"" src =""{model.ImageUrl}"" />"));
        columns.Add(model => model.Id)
            .Titled("Промяна")
            .Encoded(false)
            .Filterable(false)
            .RenderedAs(model => Html.ActionLink("Промяна", nameof(ImagesController.Update), new { id = model.Id }, new { @class = "btn btn-primary" }));
        columns.Add(model => model.Id)
            .Titled("Изтриване")
            .Encoded(false)
            .Filterable(false)
            .RenderedAs(model => Html.DeleteForm(nameof(ImagesController.Delete), "Images", model.Id.ToString()));
    }))

@section scripts {
    <script>
        HappyMe.FormHelper.confirmSubmit('.delete-form', 'Сигурни ли сте, че искате да изтриете елемента?');

        // TODO: Move to _AdministrationLayout, if has .mvc-grid
        $('.mvc-grid').mvcgrid();
    </script>
}