@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LandingPageLayout.cshtml";
}

<div>
    <div class="content-under hidden-xs">
        <div class="content-above">
            <img src="~/images/homepage-ipad-mockup.png" alt="IPad Mockup" id="ipad-image">
        </div>
    </div>

    <section id="homepage" class="home">
        <div class="slogan-container cell col-md-6 col-sm-4 col-xs-12 center-text-main-landing">
            <h1 class="homepage-slogan">Щастливо дете - щастливи родители!</h1>
            <a href="@Url.Action("Index", "Modules", new { area = string.Empty })" class="play-button btn btn-warning">Играй!</a>
        </div>

        <div id="scroll-down-arrow-container" class="col-md-12 text-center">
            <a class="scroll" href="#mission">
                <i class="fa fa-chevron-circle-down hvr-icon-hang" aria-hidden="true"></i>
            </a>
        </div>
    </section>

    <section id="mission">
        <div class="section-title-container">
            <h3 class="section-title">нашата мисия</h3>
        </div>

        <ul class="mission-list">
            <li class="col-md-4">
                <article class="mission-item">
                    <i class="fa fa-rocket fa-5x mission-icon" aria-hidden="true"></i>
                    <p>Да интегрираме модерни и интуитивни технологии, които да спомогнат и обогатят процеса на работа и обучението на деца с аутизъм</p>
                </article>
            </li>

            <li class="col-md-4">
                <article class="mission-item">
                    <i class="fa fa-universal-access fa-5x mission-icon" aria-hidden="true"></i>
                    <p>Да предложим специално и лесно достъпно приложение на български, съобразено с индивидуалните нужди на всяко дете</p>
                </article>
            </li>

            <li class="col-md-4">
                <article class="mission-item">
                    <i class="fa fa-smile-o fa-5x mission-icon" aria-hidden="true"></i>
                    <p>Да направим ежедневието на децата с аутизъм по-леко и усмихнато</p>
                </article>
            </li>

        </ul>

        <section class="slider">
            <div>
                <div class="cell">
                    <img src="/images/character_green.png" alt="" class="slider-img-item">
                </div>
                <p class="cell">Нашият герой Бобо подкрепя и насърчава малчуганите във всички упражнения и игри. </p>
            </div>
            <div>
                <div class="cell">
                    <img src="/images/character_blue.png" alt="" class="slider-img-item">
                </div>
                <p class="cell">Платформата HappyMe е интуитивна и лесна за употреба.</p>
            </div>
            <div>
                <div class="cell">
                    <img src="/images/character_orange.png" alt="" class="slider-img-item">
                </div>
                <p class="cell">HappyMe съдържа 4 основни специализирани модула под формата на игри и упражнения, насочени към подобряване на възприятията за околния свят. </p>
            </div>
        </section>
    </section>

    <section id="functions" class="functions-section">
        <div class="col-xs-12 col-sm-6 cell center-img-functions">
            <img src="~/images/use-happyme-left-content.png" alt="Let's Play Screen" class="">
        </div>

        <div class="col-xs-12 col-sm-6 cell">
            <div class="section-title-container">
                <h3 class="section-title">с HappyMe имате възможност да</h3>
            </div>
            <ul class="functions-list">
                <li class="functions-item">
                    <div class="cell">
                        <i class="fa fa-pencil-square-o fa-5x" aria-hidden="true"></i>
                    </div>
                    <div class="cell">
                        <p class="functions-text">създавате персонализирани модули от въпроси, спрямо нуждите и интересите на Вашето дете</p>
                    </div>
                </li>

                <li class="functions-item">
                    <div class="cell">
                        <i class="fa fa-users fa-5x" aria-hidden="true"></i>
                    </div>
                    <div class="cell">
                        <p class="functions-text">работите както в домашни условия при родителски контрол, така и в специализираните центрове</p>
                    </div>
                </li>

                <li class="functions-item">
                    <div class="cell">
                        <i class="fa fa-bar-chart fa-5x" aria-hidden="true"></i>
                    </div>
                    <div class="cell">
                        <p class="functions-text">следите развитието на децата, което е предпоставка за по-добри резултати</p>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <section id="modules">
        <div class="section-title-container">
            <h3 class="section-title">модули</h3>
        </div>

        <ul class="modules-list">
            <li class="module col-md-3">
                <div class="flip">
                    <div class="card">
                        <div class="face front">
                            <h3 id="module-title-colours">цветове</h3>
                            <img src="~/images/module-colours.png" alt="Module Colours Apple">
                        </div>
                        <div class="face back">
                            <p>
                                В модул "Цветове" малчуганите ще виждат черно-бяла картинка на предмети от ежедневието
                                като зеленчуци, плодове, животни и още други, и ще трябва
                                да познаят техните цветове.
                            </p>
                        </div>
                    </div>
                </div>
            </li>

            <li class="module col-md-3">
                <div class="flip">
                    <div class="card">
                        <div class="face front">
                            <h3 id="module-title-family">семейство</h3>
                            <img src="~/images/module-family.png" alt="Module Family">
                        </div>
                        <div class="face back">
                            <p>
                                В модул "Семейство" децата могат да се упражняват в разпознаването на членовете от семейството
                                и близките хора. Ще имате възможност да качвате ваши снимки лесно и удобно.
                            </p>
                        </div>
                    </div>
                </div>
            </li>

            <li class="module col-md-3">
                <div class="flip">
                    <div class="card">
                        <div class="face front">
                            <h3 id="module-title-alphabet">азбука</h3>
                            <img src="~/images/modules-alphabet.png" alt="Module ALphabet Sheep">
                        </div>
                        <div class="face back">
                            <p>
                                В модул "Азбука" децата ще получават буква от българската азбука и ще трябва да отбележат предмета,
                                който започва с дадената буква.
                            </p>
                        </div>
                    </div>
                </div>
            </li>

            <li class="module col-md-3">
                <div class="flip">
                    <div class="card">
                        <div class="face front">
                            <h3 id="module-title-connect">свържи</h3>
                            <img src="~/images/modules-connect.png" alt="Module Connect">
                        </div>
                        <div class="face back">
                            <p>
                                В модул "Свържи" малчуганите могат да се упражняват да свързват двойка предмети от ежедневието,
                                например молив - ръка, обувка - крак. Този модул спомага адаптацията и опознаването на околния свят.
                            </p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </section>

    <section id="team" class="team-section">
        <div class="section-title-container">
            <h3 class="section-title">екип</h3>
        </div>

        <div class="team-container">
            <div class="team-description col-md-6">
                Ние сме група ентусиазирани позитивни хора, водени от идеята да направим себе си и света около нас по-добър.
            </div>
            <ul class="team-list">
                <li class="team-member col-md-2 col-sm-2">
                    <a class="team-member-link" href="https://www.linkedin.com/in/kristian-mariyanov-265439b2" title="Кристиан Мариянов">
                        <img src="~/images/teamMembers/kmariyanov.jpg" class="team-profile-picture">
                        <p class="team-member-name">Кристиан Мариянов</p>
                    </a>
                </li>

                <li class="team-member col-md-2 col-sm-2">
                    <a class="team-member-link" href="https://bg.linkedin.com/in/maria-hristoforova-b0a32155" title="Мария Христофорова">
                        <img src="~/images/teamMembers/mhristoforova.jpg" class="team-profile-picture">
                        <p class="team-member-name">Мария Христофорова</p>
                    </a>
                </li>

                <li class="team-member col-md-2 col-sm-2">
                    <a class="team-member-link" href="https://www.linkedin.com/in/rositsap" title="Росица Попова">
                        <img src="~/images/teamMembers/rpopova.jpg" class="team-profile-picture">
                        <p class="team-member-name">Росица Попова</p>
                    </a>
                </li>

                <li class="team-member col-md-2 col-sm-2">
                    <a class="team-member-link" href="https://bg.linkedin.com/in/teodorkurtev" title="Теодор Куртев">
                        <img src="~/images/teamMembers/tkurtev.jpg" class="team-profile-picture">
                        <p class="team-member-name">Теодор Куртев</p>
                    </a>
                </li>

                <li class="team-member col-md-2 col-sm-2">
                    <a class="team-member-link" href="https://bg.linkedin.com/in/yana-slavcheva-b3a99621" title="Яна Славчева">
                        <img src="~/images/teamMembers/yslavcheva.png" class="team-profile-picture">
                        <p class="team-member-name">Яна Славчева</p>
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <section id="contact-us" class="contact-form-section">
        <div class="section-title-container">
            <h3 class="section-title">контакти</h3>
        </div>

        <div class="section-description">
            Ще се радваме да се свържете с нас с въпроси относно приложението,
            предложения за подобрения, възникнали проблеми или всичко друго, което Ви е направило впечетление.
        </div>

        @using (Html.BeginForm(
                "Send",
                "Feedback",
                FormMethod.Post,
                new { enctype = "multipart/form-data", @class = "contacts-form col-md-12" }))
        {
            @Html.AntiForgeryToken()

            <fieldset class="contact-form col-md-6 col-sm-6 col-xs-12 bottom-buffer">
                <div class="row bottom-buffer">
                    <div class="inner-addon left-addon bottom-buffer col-md-4 col-sm-12 col-xs-12">
                        <i class="fa fa-user"></i>
                        <input type="text" name="name" placeholder="Име" required>
                    </div>
                    <div class="inner-addon left-addon bottom-buffer col-md-4 col-sm-12 col-xs-12">
                        <i class="fa fa-envelope-o"></i>
                        <input type="email" name="email" placeholder="Имейл" required>
                    </div>
                    <div class="inner-addon left-addon bottom-buffer col-md-4 col-sm-12 col-xs-12">
                        <i class="fa fa-pencil"></i>
                        <input type="text" name="subject" placeholder="Тема" required>
                    </div>
                </div>

                <textarea name="message" placeholder="Напиши своето съобщение..." rows="10" required></textarea>
            </fieldset>
            <div class="submit-btn-container col-sm-12 col-xs-12 text-center bottom-buffer top-buffer">
                <input type="submit" id="submit" value="Изпрати" class="btn btn-success">
            </div>
        }
    </section>

    <section class="facebook-likebox-section ">
        <div class="fb-page"
             data-href="https://www.facebook.com/HappyMeBulgaria/"
             data-tabs="" data-small-header="false"
             data-adapt-container-width="true"
             data-hide-cover="false"
             data-show-facepile="true">
            <blockquote cite="https://www.facebook.com/HappyMeBulgaria/" class="fb-xfbml-parse-ignore">
                <a href="https://www.facebook.com/HappyMeBulgaria/">Happy Me</a>
            </blockquote>
        </div>
    </section>
</div>
@section scripts{


    <environment names="Development">
        <script src="~/lib/slick-carousel/slick/slick.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/slick-carousel/slick/slick.min.js"></script>
    </environment>

    <script>
        // TODO: Extract these in external js file
        $(function () {
            $(".scroll").click(function (event) {
                event.preventDefault();
                var dest;
                if ($(this.hash).offset().top > $(document).height() - $(window).height()) {
                    dest = $(document).height() - $(window).height();
                } else {
                    dest = $(this.hash).offset().top;
                }
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top - 50
                }, 1000, 'swing');
            });

            $(".slider").slick({
                autoplay: false,
                dots: true,
                arrows: false,
                responsive: [{
                    breakpoint: 0,
                    settings: {
                        dots: false,
                        arrows: false,
                        infinite: false,
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                }]
            });
        });

        $(".flip").hover(function () {
            $(this).find(".card").toggleClass("flipped");
            return false;
        });

        $(document).ready(function () {
            $(window).scroll(function () {
                if (document.body.scrollTop === 0) {
                    $("#scroll-down-arrow-container").show();
                } else {
                    $("#scroll-down-arrow-container").hide();
                }
            });
        });
    </script>
}