@model HappyMe.Web.Areas.Administration.InputModels.Answers.AnswerUpdateInputModel

@{
    ViewBag.Title = "Промяна на отговор";
}

<h2>@ViewBag.Title</h2>

<form enctype="multipart/form-data"
      asp-action="Update"
      asp-controller="Answers"
      asp-area="Administration"
      asp-antiforgery="true"
      method="post">

    @Html.EditorForModel()

    @Html.EditorFor(m => m.ImageData)

    <input type="button" value="Назад" onClick="history.go(-1);return true;" class="btn btn-blue" />
    <input type="submit" value="Редактирай" class="btn btn-primary pull-right" />

</form>