@using HappyMe.Web.Controllers

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LandingPageLayout.cshtml";
}

<div>
    <div class="content-under hidden-xs">
        <div class="content-above">
            <img src="~/Content/images/homepage-ipad-mockup.png" alt="IPad Mockup" id="ipad-image">
        </div>
    </div>

    <section id="homepage" class="home">
        <div class="slogan-container cell col-md-6 col-sm-4 col-xs-12 center-text-main-landing">
            <h1 class="homepage-slogan">Щастливо дете - щастливи родители!</h1>
            <a href="@Url.Action("Index", "Modules", new { area = string.Empty })" class="play-button btn btn-warning">Играй!</a>
        </div>
    </section>

    <section id="mission">
        <div class="section-title-container">
            <h3 class="section-title">нашата мисия</h3>
        </div>

        <ul class="mission-list">
            <li class="col-md-4">
                <article class="mission-item">
                    <i class="fa fa-rocket fa-5x mission-icon" aria-hidden="true"></i>
                    <p>Да създадем иновативно и достъпно приложение на български, което да спомогне и обогати процеса на работа и обучението на деца с аутизъм</p>
                </article>
            </li>

            <li class="col-md-4">
                <article class="mission-item">
                    <i class="fa fa-universal-access fa-5x mission-icon" aria-hidden="true"></i>
                    <p>Да интегрираме модерни и интуитивни технологии, с цел подпомагане нуждите и развитието на дечица с аутизъм.</p>
                </article>
            </li>

            <li class="col-md-4">
                <article class="mission-item">
                    <i class="fa fa-smile-o fa-5x mission-icon" aria-hidden="true"></i>
                    <p>Да направим ежедневието на децата с аутизъм по-леко и усмихнато</p>
                </article>
            </li>

        </ul>

        <section class="slider">
            <div>
                <img src="/Content/images/character_green.png" alt="" class="slider-img-item">
                <p>В света 1% от населението има аутизъм. От 2002 – 2010 разпространението се е увеличило с 6-15 %.</p>
            </div>
            <div>
                <img src="/Content/images/character_pink.png" alt="" class="slider-img-item">
                <p>В България: 1988 -> 1 на 10 000 деца, 2003 -> 1 на 500 деца, 2010 -> 1 на 110 деца, Днес -> 60 000 души.</p>
            </div>
            <div>
                <img src="/Content/images/character_blue.png" alt="" class="slider-img-item">
                <p>Аутизмът представлява усамотяване, самоизолиране. Аутизмът е разстройство на социалното развитие, което засяга развитието на мозъка, а от там и поведението на човек.</p>
            </div>
            <div>
                <img src="/Content/images/character_orange.png" alt="" class="slider-img-item">
                <p>Трите основни симптома според класификациите на психичните заболявания МКБ-10 и ДСМ-IV са 1) нарушение в социалните взаимоотношения, 2) нарушения на речта и езика и 3) стереотипен, повтарящ се репертоар на действия и интереси.</p>
            </div>

        </section>
    </section>

    <section id="functions" class="functions-section">
        <div class="col-xs-12 col-sm-6 cell center-img-functions">
            <img src="~/Content/images/use-happyme-left-content.png" alt="Let's Play Screen" class="">
        </div>

        <div class="col-xs-12 col-sm-6 cell">
            <div class="section-title-container">
                <h3 class="section-title">с happy me можете да</h3>
            </div>
            <ul class="functions-list">
                <li class="functions-item">
                    <div class="cell">
                        <i class="fa fa-pencil-square-o fa-5x" aria-hidden="true"></i>
                    </div>
                    <div class="cell">
                        <p class="functions-text">правите персонализирани модули от въпроси, както и създавате различни въпроси в тях</p>
                    </div>
                </li>

                <li class="functions-item">
                    <div class="cell">
                        <i class="fa fa-users fa-5x" aria-hidden="true"></i>
                    </div>
                    <div class="cell">
                        <p class="functions-text">
                            контролирате достъпа на потребителите до тези модули
                        </p>
                    </div>
                </li>

                <li class="functions-item">
                    <div class="cell">
                        <i class="fa fa-bar-chart fa-5x" aria-hidden="true"></i>
                    </div>
                    <div class="cell">
                        <p class="functions-text">следите развитието на децата, което е предпоставка за по-добри резултати</p>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <section id="modules">
        <div class="section-title-container">
            <h3 class="section-title">модули</h3>
        </div>

        <ul class="modules-list">
            <li class="module col-md-3">
                <div class="flip">
                    <div class="card">
                        <div class="face front">
                            <h3 id="module-title-alphabet">азбука</h3>
                            <img src="~/Content/images/modules-alphabet.png" alt="Module ALphabet Sheep">
                        </div>
                        <div class="face back">
                            <p>В модул "Азбука" децата ще получават буква от българската азбука и ще трябва да отбележат предмета, който започва с дадената буква.</p>
                        </div>
                    </div>
                </div>
            </li>

            <li class="module col-md-3">
                <div class="flip">
                    <div class="card">
                        <div class="face front">
                            <h3 id="module-title-colours">цветове</h3>
                            <img src="~/Content/images/module-colours.png" alt="Module Colours Apple">
                        </div>
                        <div class="face back">
                            <p>В модул "Цветове" малчуганите ще виждат черно-бяла картинка на предмети от ежедневието и ще трябва да познаят нейния цвят.</p>
                        </div>
                    </div>
                </div>
            </li>

            <li class="module col-md-3">
                <div class="flip">
                    <div class="card">
                        <div class="face front">
                            <h3 id="module-title-family">семейство</h3>
                            <img src="~/Content/images/module-family.png" alt="Module Family">
                        </div>
                        <div class="face back">
                            <p>В модул "Семейство" децата могат да се упражняват в разпознаването на членовете от семейството - мама, татко, баба, дядо.</p>
                        </div>
                    </div>
                </div>
            </li>

            <li class="module col-md-3">
                <div class="flip">
                    <div class="card">
                        <div class="face front">
                            <h3 id="module-title-connect">свържи</h3>
                            <img src="~/Content/images/modules-connect.png" alt="Module Connect">
                        </div>
                        <div class="face back">
                            <p>В модул "Свържи" малчуганите могат да се упражняват да свързват двойка предмети от ежедневието. Например молив - ръка, обувка - крак.</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </section>

    <section id="team" class="team-section">
        <div class="section-title-container">
            <h3 class="section-title">екип</h3>
        </div>

        <div class="team-container">
            <div class="team-description col-md-6">
                Ние сме група ентусиазирани позитивни хора, водени от идеята да направим себе си и света около нас по-добър.
            </div>
            <ul class="team-list">
                <li class="team-member col-md-2 col-sm-2">
                    <img src="~/Content/images/kmariyanov.jpg" class="team-profile-picture">
                    <p>Кристиан Мариянов</p>
                </li>

                <li class="team-member col-md-2 col-sm-2">
                    <img src="~/Content/images/mhristoforova.jpg" class="team-profile-picture">
                    <p>Мария Христофорова</p>
                </li>

                <li class="team-member col-md-2 col-sm-2">
                    <img src="~/Content/images/rpopova.jpg" class="team-profile-picture">
                    <p>Росица Попова</p>
                </li>

                <li class="team-member col-md-2 col-sm-2">
                    <img src="~/Content/images/tkurtev.jpg" class="team-profile-picture">
                    <p>Теодор Куртев</p>
                </li>

                <li class="team-member col-md-2 col-sm-2">
                    <img src="~/Content/images/yslavcheva.png" class="team-profile-picture">
                    <p>Яна Славчева</p>
                </li>
            </ul>
        </div>
    </section>

    <section id="contact-us" class="contact-form-section">
        <div class="section-title-container">
            <h3 class="section-title">контакти</h3>
        </div>

        @using (Html.BeginForm(
            nameof(FeedbackController.Send),
            "Feedback",
            FormMethod.Post,
            new { enctype = "multipart/form-data", @class = "contacts-form col-md-12" }))
        {
            @Html.AntiForgeryToken()

            <fieldset class="contact-form col-md-6 col-sm-6 col-xs-12 bottom-buffer">
                <div class="row bottom-buffer">
                    <div class="inner-addon left-addon bottom-buffer col-md-4 col-sm-12 col-xs-12">
                        <i class="fa fa-user"></i>
                        <input type="text" name="name" placeholder="Име" required>
                    </div>
                    <div class="inner-addon left-addon bottom-buffer col-md-4 col-sm-12 col-xs-12">
                        <i class="fa fa-envelope-o"></i>
                        <input type="email" name="email" placeholder="Имейл" required>
                    </div>
                    <div class="inner-addon left-addon bottom-buffer col-md-4 col-sm-12 col-xs-12">
                        <i class="fa fa-pencil"></i>
                        <input type="text" name="subject" placeholder="Тема" required>
                    </div>
                </div>

                <textarea name="message" placeholder="Напиши своето съобщение..." rows="10" required></textarea>
            </fieldset>
            <div class="submit-btn-container col-sm-12 col-xs-12 text-center bottom-buffer top-buffer">
                <input type="submit" id="submit" value="Изпрати" class="btn btn-success">
            </div>
        }
    </section>
</div>

@section scripts{
    @Scripts.Render("~/bundles/slick")
    <script>
        // TODO: Extract these in external js file
        $(function () {
            $(".scroll").click(function (event) {
                event.preventDefault();
                var dest;
                if ($(this.hash).offset().top > $(document).height() - $(window).height()) {
                    dest = $(document).height() - $(window).height();
                } else {
                    dest = $(this.hash).offset().top;
                }
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top - 50
                }, 1000, 'swing');
            });

            $(".slider").slick({
                autoplay: true,
                dots: true,
                arrows: false,
                responsive: [{
                    breakpoint: 0,
                    settings: {
                        dots: false,
                        arrows: false,
                        infinite: false,
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                }]
            });
        });

        $(".flip").hover(function () {
            $(this).find(".card").toggleClass("flipped");
            return false;
        });
    </script>
}