@using HappyMe.Web.Controllers
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LandingPageLayout.cshtml";
}

<div>
    <div class="content-under hidden-xs">
        <div class="content-above">
            <img src="~/Content/images/homepage-ipad-mockup.png" alt="IPad Mockup" id="ipad-image">
        </div>
    </div>

    <section id="homepage" class="home">
        <div class="slogan-container cell col-md-6 col-sm-4 col-xs-12 center-text-main-landing">
            <h1 class="homepage-slogan">Щастливо дете - щастливи родители!</h1>
            <a href="@Url.Action("Index", "Modules", new { area = string.Empty })" class="play-button btn btn-warning">Играй!</a>
        </div>
    </section>

    <section id="mission">
        <div class="section-title-container">
            <h3 class="section-title">нашата мисия</h3>
        </div>

        <ul class="mission-list">
            <li class="col-md-4">
                <article class="mission-item">
                    <i class="fa fa-rocket fa-5x mission-icon" aria-hidden="true"></i>
                    <p>Да създадем иновативно и достъпно приложение на български, което да спомогне и обогати процеса на работа и обучение на деца с аутизъм</p>
                </article>
            </li>

            <li class="col-md-4">
                <article class="mission-item">
                    <i class="fa fa-universal-access fa-5x mission-icon" aria-hidden="true"></i>
                    <p>Да интегрираме модерни и интуитивни технологии, с цел подпомагане нуждите и развитието на дечица с аутизъм.</p>
                </article>
            </li>

            <li class="col-md-4">
                <article class="mission-item">
                    <i class="fa fa-smile-o fa-5x mission-icon" aria-hidden="true"></i>
                    <p>Да направим ежедневието на децата с аутизъм по-леко и усмихнато</p>
                </article>
            </li>

        </ul>

        <section class="slider">
            <div>
                <img src="#" alt="">
                <p> Децата се нуждаят от нещо си - М.Иванова</p>
            </div>
            <div>
                <img src="#" alt="">
                <p> Липсва друго нещо си - И.Иванов</p>
            </div>
            <div>
                <img src="#" alt="">
                <p> Няма такова приложение на български - И.Петкова</p>
            </div>
            <div>
                <img src="#" alt="">
                <p>СЪществуващите приложения са неефективни - П.Петров</p>
            </div>

        </section>
    </section>

    <section id="functions" class="functions-section">
        <div class="col-xs-12 col-sm-6 cell center-img-functions">
            <img src="~/Content/images/use-happyme-left-content.png" alt="Let's Play Screen" class="">
        </div>

        <div class="col-xs-12 col-sm-6 cell">
            <div class="section-title-container">
                <h3 class="section-title">с happy me можете да</h3>
            </div>
            <ul class="functions-list">
                <li class="functions-item">
                    <div class="cell">
                        <i class="fa fa-pencil-square-o fa-5x" aria-hidden="true"></i>
                    </div>
                    <div class="cell">
                        <p class="functions-text">правите персонализирани модули от въпроси, както и създавате различни въпроси в тях</p>
                    </div>
                </li>

                <li class="functions-item">
                    <div class="cell">
                        <i class="fa fa-users fa-5x" aria-hidden="true"></i>
                    </div>
                    <div class="cell">
                        <p class="functions-text">
                            контролирате достъпа на потребителите до тези модули
                        </p>
                    </div>
                </li>

                <li class="functions-item">
                    <div class="cell">
                        <i class="fa fa-bar-chart fa-5x" aria-hidden="true"></i>
                    </div>
                    <div class="cell">
                        <p class="functions-text">следите развитието на децата, което е предпоставка за по-добри резултати</p>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <section id="modules">
        <div class="section-title-container">
            <h3 class="section-title">модули</h3>
        </div>

        <ul class="modules-list">
            <li class="module col-md-3">
                <div class="flip">
                    <div class="card">
                        <div class="face front">
                            <h3 id="module-title-alphabet">азбука</h3>
                            <img src="~/Content/images/modules-alphabet.png" alt="Module ALphabet Sheep">
                        </div>
                        <div class="face back">
                            <p>Offal neutra helvetica, sustainable beard next level plaid. Gastropub four loko health goth, chicharrones etsy kale chips sustainable. Pork belly fanny pack readymade intelligentsia XOXO.</p>
                        </div>
                    </div>
                </div>
            </li>

            <li class="module col-md-3">
                <div class="flip">
                    <div class="card">
                        <div class="face front">
                            <h3 id="module-title-colours">цветове</h3>
                            <img src="~/Content/images/module-colours.png" alt="Module Colours Apple">
                        </div>
                        <div class="face back">
                            <p>Offal neutra helvetica, sustainable beard next level plaid. Gastropub four loko health goth, chicharrones etsy kale chips sustainable. Pork belly fanny pack readymade intelligentsia XOXO.</p>
                        </div>
                    </div>
                </div>
            </li>

            <li class="module col-md-3">
                <div class="flip">
                    <div class="card">
                        <div class="face front">
                            <h3 id="module-title-family">семейство</h3>
                            <img src="~/Content/images/module-family.png" alt="Module Family">
                        </div>
                        <div class="face back">
                            <p>Offal neutra helvetica, sustainable beard next level plaid. Gastropub four loko health goth, chicharrones etsy kale chips sustainable. Pork belly fanny pack readymade intelligentsia XOXO.</p>
                        </div>
                    </div>
                </div>
            </li>

            <li class="module col-md-3">
                <div class="flip">
                    <div class="card">
                        <div class="face front">
                            <h3 id="module-title-connect">свържи</h3>
                            <img src="~/Content/images/modules-connect.png" alt="Module Connect">
                        </div>
                        <div class="face back">
                            <p>Offal neutra helvetica, sustainable beard next level plaid. Gastropub four loko health goth, chicharrones etsy kale chips sustainable. Pork belly fanny pack readymade intelligentsia XOXO.</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </section>

    <section id="team" class="team-section">
        <div class="section-title-container">
            <h3 class="section-title">екип</h3>
        </div>

        <div class="team-container">
            <div class="team-description col-md-6">
                Ние сме група ентусиазирани позитивни хора, водени от идеята да направим себе си и света около нас по-добър.
            </div>
            <ul class="team-list">
                <li class="team-member col-md-2">
                    <img src="~/Content/images/kmarianov.jpg" class="team-profile-picture">
                    <p>Кристиан Мариянов</p>
                </li>

                <li class="team-member col-md-2">
                    <img src="~/Content/images/mhristoforova.jpg" class="team-profile-picture">
                    <p>Мария Христофорова</p>
                </li>

                <li class="team-member col-md-2">
                    <img src="~/Content/images/rpopova.jpg" class="team-profile-picture">
                    <p>Росица Попова</p>
                </li>

                <li class="team-member col-md-2">
                    <img src="~/Content/images/tkurtev.jpg" class="team-profile-picture">
                    <p>Теодор Куртев</p>
                </li>

                <li class="team-member col-md-2">
                    <img src="~/Content/images/yslavcheva.png" class="team-profile-picture">
                    <p>Яна Славчева</p>
                </li>
            </ul>
        </div>
    </section>

    <section id="contact-us" class="contact-form-section">
        <div class="section-title-container">
            <h3 class="section-title">контакти</h3>
        </div>

        @using (Html.BeginForm(
                    nameof(FeedbackController.Send),
                    "Feedback",
                    FormMethod.Post,
                    new { enctype = "multipart/form-data", @class = "contacts-form col-md-12" }))
        {
            @Html.AntiForgeryToken()

            <fieldset class="contact-form col-md-6 bottom-buffer">
                <div class="row bottom-buffer">
                    <div class="inner-addon left-addon col-md-4">
                        <i class="fa fa-user"></i>
                        <input type="text" name="name" placeholder="Name" required>
                    </div>
                    <div class="inner-addon left-addon col-md-4">
                        <i class="fa fa-envelope-o"></i>
                        <input type="email" name="email" placeholder="Email address" required>
                    </div>
                    <div class="inner-addon left-addon col-md-4">
                        <i class="fa fa-pencil"></i>
                        <input type="text" name="subject" placeholder="Subject" required>
                    </div>
                </div>

                <textarea name="message" placeholder="Add your message here" rows="10" required></textarea>
            </fieldset>
            <div class="text-center bottom-buffer top-buffer">
                <input type="submit" id="submit" value="Submit" class="btn btn-success">
            </div>
        }
    </section>
</div>

@section scripts{
    @Scripts.Render("~/bundles/slick")
    <script>
        // TODO: Extract these in external js file
        $(function () {
            $(".scroll").click(function (event) {
                event.preventDefault();
                var dest;
                if ($(this.hash).offset().top > $(document).height() - $(window).height()) {
                    dest = $(document).height() - $(window).height();
                } else {
                    dest = $(this.hash).offset().top;
                }
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top - 50
                }, 1000, 'swing');
            });

            $(".slider").slick({
                autoplay: true,
                dots: true,
                arrows: false,
                responsive: [{
                    breakpoint: 0,
                    settings: {
                        dots: false,
                        arrows: false,
                        infinite: false,
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                }]
            });
        });

        $(".flip").hover(function () {
            $(this).find(".card").toggleClass("flipped");
            return false;
        });
    </script>
}