@using Te4Fest.Web.Areas.Administration.Controllers
@using Te4Fest.Web.Common.Helpers

@model IEnumerable<Te4Fest.Web.Areas.Administration.ViewModels.Users.UserGridViewModel>

@{
    const string ControllerName = "Users";
}

<h2>Потребители</h2>

@*@(Html.ActionLink("Create new", nameof(UsersController.Create)))*@

@(Html.MvcGrid(
    Model,
    columns =>
    {
        columns.Add(model => model.Id).Titled("№");
        columns.Add(model => model.UserName).Titled("Потребителско име");
        columns.Add(model => model.Email).Titled("Имейл");
        columns.Add(model => model.CreatedOn).Titled("Регистриран на");
        ////columns.Add(model => model.Id)
        ////    .Titled("Промяна")
        ////    .Encoded(false)
        ////    .Filterable(false)
        ////    .RenderedAs(model => Html.ActionLink("Промяна", nameof(UsersController.Update), new { id = model.Id }));
        ////columns.Add(model => model.Id)
        ////    .Titled("Промяна")
        ////    .Encoded(false)
        ////    .Filterable(false)
        ////    .RenderedAs(model => Html.DeleteForm(nameof(ModulesController.Delete), ControllerName, model.Id));
    }))

@section scripts {
    <script>
        $('.mvc-grid').mvcgrid()
    </script>
}
