@using NonFactors.Mvc.Grid
@using Te4Fest.Web.Areas.Administration.ViewModels.Modules

@model IEnumerable<Te4Fest.Web.Areas.Administration.ViewModels.Modules.ModuleGridViewModel>

<h2>Модули</h2>

@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.Id).Titled("№");
        columns.Add(model => model.Name).Titled("Name");
        columns.Add(model => model.Description).Titled("Description");
        columns.Add(model => model.IsActive).Titled("IsActive");
        columns.Add(model => model.AuthorId).Titled("AuthorId");
    })
    .Filterable()
    .Sortable()
    .Pageable(p =>
    {
        p.PagesToDisplay = 5;
        p.InitialPage = 1;
        p.RowsPerPage = 5;
    })
)

@section scripts {
    <script>
        $('.mvc-grid').mvcgrid();
    </script>
}