@using NonFactors.Mvc.Grid
@using Te4Fest.Web.Areas.Administration.Controllers
@using Te4Fest.Web.Areas.Administration.ViewModels.Modules
@using Te4Fest.Web.Common.Helpers

@model IEnumerable<ModuleGridViewModel>

<h2>Модули</h2>

@(Html.ActionLink("Create new", nameof(ModulesController.Create)))

@(Html.MvcGrid(
    Model,
    columns =>
    {
        columns.Add(model => model.Id).Titled("№");
        columns.Add(model => model.Name).Titled("Name");
        columns.Add(model => model.Description).Titled("Description");
        columns.Add(model => model.IsActive).Titled("IsActive");
        columns.Add(model => model.AuthorId).Titled("AuthorId");
    }))

@section scripts {
    <script>
        $('.mvc-grid').mvcgrid()
    </script>
}
