@model HappyMe.Web.Areas.Administration.ViewModels.Answers.AnswerGridViewModel
    
<li class="list-group-item">
    <span class="col-md-9">@Model.Text</span>
    <button class="btn btn-warning">Редатирай отговор</button>
    <button class="btn btn-danger">Изтрий отговор</button>
</li>
