@model HappyMe.Web.ViewModels.Questions.AnswerViewModel

<div class="col-sm-3 text-center">
    <div class="color-answer one-answer-question-answer" data-answer-id="@Model.Id" style="background-color: @Model.Text"></div>
</div>