@model IEnumerable<HappyMe.Web.Models.ViewModels.Questions.AnswerViewModel>

@foreach (var answerViewModel in Model)
{
    <div class="col-sm-3 text-center">
        <div class="drag-and-drop-answer text-center" draggable="true" data-answer-id="@answerViewModel.Id">
            <img src="@answerViewModel.ImageUrl" alt="answer image"/>
        </div>
    </div>
}