@model HappyMe.Web.ViewModels.Modules.ModuleViewModel

<section class="module-box col-md-3 col-xs-6">
    <header class="module-name">@Model.Name</header>
    <img class="img-responsive module-img" width="150" src="@Model.ImageUrl" alt="@($"Модул - {Model.Name} изобразение")"/>
</section>