@using HappyMe.Web.Areas.Administration.Controllers
@using HappyMe.Web.Common.Helpers

@model IEnumerable<HappyMe.Web.Areas.Administration.ViewModels.UsersInModules.UserInModuleGridViewModel>

<h2>Потребители в модули</h2>

<a asp-action="Create" asp-controller="UsersInModules" asp-area="Administration" class="btn btn-primary bottom-buffer">Създай</a>
