@using HappyMe.Web.Areas.Administration.Controllers

@model HappyMe.Web.Areas.Administration.InputModels.Answers.AnswerUpdateInputModel

@{
    ViewBag.Title = "Промяна на отговор";
}

<div class="section-title-container">
    <h3 class="section-title">@ViewBag.Title</h3>
</div>

@using (Html.BeginForm(
    nameof(AnswersController.Update),
    "Answers",
    FormMethod.Post,
    new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.EditorForModel()

    @Html.EditorFor(m => m.ImageData)

    <input type="button" value="Назад" onClick="history.go(-1);return true;" class="btn btn-blue" />
    <input type="submit" value="Редактирай" class="btn btn-success pull-right"/>
}