@using HappyMe.Web.Common.Helpers

@model IEnumerable<HappyMe.Web.Areas.Administration.ViewModels.Feedback.FeedbackGridViewModel>

@{
    ViewBag.Title = "Обратна връзка";
}

@Html.DashboardLink()

<h2>@ViewBag.Title</h2>

@*TODO: Add grid*@

